<!-- views/developers.ejs -->
<%- include('partials/head', { title: 'Developers' }) %>
<center><h1 style="font-size: 40px; margin: 1% 0 0 0 ;">Developers</h1></center>

<div class="index-container2">
<p style="font-size:large; line-height: 2; width: 70%;">This is the Spring 2025 Senior Software project (class ran by Dr. Horn) for David Dokupil, Maci Flanagan, Preston Harris, Marcos Morales, and Noah Wenig. If something goes awry with our plant or if you have any other questions about the project, please contact one of them! Our goal is to create this website to accompany a plant that is able to be watered remotely by anyone. Hallmark features of this project include a Raspberry Pi 5 for hardware/watering purposes, and Azure Pipelines for deployment.</p>
</div>
<br><br>
	<center>
	<div class="index-container" style="grid-template-columns: 1fr 1fr 1fr;">
		<span>
			<button class="featured-product-small" style="background-image: url('/images/Britton-Horn.png');"></button>
			<div class="landing-flavor-text2">Dr. Britton Horn</div>
		</span>
		<span>
			<button class="featured-product-small" style="background-image: url('');"></button>
			<div class="landing-flavor-text2">David Dokupil</div>
		</span>
		<span>
			<button class="featured-product-small" style="background-image: url('/images/maci-headshot.jpg');"></button>
			<div class="landing-flavor-text2">Maci Flanagan</div>
		</span>
	</div>
	<br><br>
	<div class="index-container" style="grid-template-columns: 1fr 1fr 1fr;">
		<span>
			<button class="featured-product-small" style="background-image: url('/images/Preston Harris Professional Headshot cropped.png')" ></button>
			<div class="landing-flavor-text2">Preston Harris</div>
	</span>
	<span>
		<button class="featured-product-small" style="background-image: url('');"></button>
		<div class="landing-flavor-text2">Marcos Morales</div>
</span>
	<span>
		<button class="featured-product-small" style="background-image: url('/images/noahPicLeeroyPLantwehflwk.jpg');"></button>
		<div class="landing-flavor-text2">Noah Wenig</div>
</span>
</div>
	</center>
	<br><br><br><br>