<!-- views/index.ejs -->
<%- include('partials/head', { title: 'LeeRoy\'s Plant Buddy' }) %>

<center><h1 style="font-size: 40px; margin: 1% 0 0 0 ;">Our Plant</h1></center>
	<div class="row">
		<div class="column left"  style="height: 475px; width: 25%; padding-top: 0; margin-left: 15%;">
			<img src="/images/plant test.png" alt="fake plant image" style="border-width: 15px; border-color: #5ab457; border-style: solid;height: 450px;">
		</div>
		<div class="column right" style="height: 500px; width: 37%; margin-right: 10%; padding-top: 0;">
				<p style="font-size:large; line-height: 1.5;">This plant, residing in CSI 270T, is of [genus, species]. It's part of our Spring 2025 Senior Software project, but when it grows, perhaps it aspires to be the future mascot for the computer science department. Interested in helping it grow, or just want to monitor its progress? Check out the <a style="font-weight: bold;" href="/data">Data</a> tab on this website!</p>
				<div class="index-container2">
					<h4>Ideal Conditions:</h4>
					<p>Here are the ideal conditions of our plant</p>
				</div>
				<div class="index-container2">
					<h4>Current Conditions:</h4>
					<p>Here are the current conditions of our plant</p>
				</div>
				<div>
				<button class="watering-can" type="submit" onclick="alert('Our plant will be watered shortly. Thanks!')"></button>
        <input type="hidden" name="plantId" value="1">
				</div>
				Click to water our plant!
				<br><br>
		</div>
	</div>
	<div class="index-container2">
			<h4>Plant Characteristics:</h4>
			<p>Here are the characteristics of our plant (it's just a red solo cup full of soil)</p>
	</div>

<br><br><br>
	  <center>
	  <div class="index-container">
	    <span>
			<button class="featured-product-small"></button>
			<div class="landing-flavor-text2">Genus, Species</div>
		</span>
	    <span>
			<button class="featured-product-small"></button>
			<div class="landing-flavor-text2">Genus, Species</div>
		</span>
		<span>
			<button class="featured-product-small"></button>
			<div class="landing-flavor-text2">Genus, Species</div>
		</span>
	  </div>
	  </center>